/*------------------------------------------------------------------
  	[HEADER]
------------------------------------------------------------------*/

.menu {
	padding: 30px 0px;
}

.menu__lang {
	background: #2da5e0;
  padding: 5px;
	margin-right: 50px;
	.menu__lang__link {
		color: #000;
		text-decoration: none;
		padding: 2px;
		@include transition(all, 1s, ease, 0s);
		&.active{
			color: #fff;
			text-decoration: underline;
		}
	}
}

.menu-list {
	.menu-list__item {
		margin-left: 10px;
		margin-right: 5px;
		&.active {}
		&.nav-item {}
		.menu-list__link {
			color: #000;
			font-size: 14px;
			text-transform: uppercase;
			text-decoration: none;
			padding: 4px;
			border-bottom: 2px solid transparent;
			@include transition(all, 1s, ease, 0s);
			&:hover {
				border-bottom: 2px solid #1f8bcf;
				padding: 4px;
			}
			&.nav-link {}
		}
	}
}

.nav-menu__link {
	color: #000;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	&:hover {
		border-bottom: 2px solid #1f8bcf;
		padding: 4px;
	}
}





.header-box {
	.header-box__img {
		@include cover-bg("../../img/top-img.jpg");
		height: 333px;
	}
}
